# Helpful Links
* https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

All Important Imports (Please don't misuse my api key...)

In [90]:
import pandas as pd
import numpy as np
import json
import textdistance as td
import googlemaps
gmaps = googlemaps.Client(key="AIzaSyCSxNRPj6sYgr9hTwepZdhz0PPMC_tpZtc")

In [1]:
origdata = pd.read_csv('/data/restaurants.tsv', delimiter='\t')
origdata.head(50)

,id,name,address,city,phone,type
0,1,arnie morton's of chicago,435 s. la cienega blv.,los angeles,310/246-1501,american
1,2,arnie morton's of chicago,435 s. la cienega blvd.,los angeles,310-246-1501,steakhouses
2,3,art's delicatessen,12224 ventura blvd.,studio city,818/762-1221,american
3,4,art's deli,12224 ventura blvd.,studio city,818-762-1221,delis
4,5,hotel bel-air,701 stone canyon rd.,bel air,310/472-1211,californian
5,6,bel-air hotel,701 stone canyon rd.,bel air,310-472-1211,californian
6,7,cafe bizou,14016 ventura blvd.,sherman oaks,818/788-3536,french
7,8,cafe bizou,14016 ventura blvd.,sherman oaks,818-788-3536,french bistro
8,9,campanile,624 s. la brea ave.,los angeles,213/938-1447,american
9,10,campanile,624 s. la brea ave.,los angeles,213-938-1447,californian
10,11,chinois on main,2709 main st.,santa monica,310/392-9025,french
11,12,chinois on main,2709 main st.,santa monica,310-392-9025,pacific new wave
12,13,citrus,6703 melrose ave.,los angeles,213/857-0034,californian
13,14,citrus,6703 melrose ave.,los angeles,213-857-0034,californian
14,15,fenix,8358 sunset blvd. west,hollywood,213/848-6677,american
15,16,fenix at the argyle,8358 sunset blvd.,w. hollywood,213-848-6677,french (new)
16,17,granita,23725 w. malibu rd.,malibu,310/456-0488,californian
17,18,granita,23725 w. malibu rd.,malibu,310-456-0488,californian
18,19,grill on the alley,9560 dayton way,los angeles,310/276-0615,american
19,20,grill the,9560 dayton way,beverly hills,310-276-0615,american (traditional)
20,21,restaurant katsu,1972 n. hillhurst ave.,los angeles,213/665-1891,asian
21,22,katsu,1972 hillhurst ave.,los feliz,213-665-1891,japanese
22,23,l'orangerie,903 n. la cienega blvd.,los angeles,310/652-9770,french
23,24,l'orangerie,903 n. la cienega blvd.,w. hollywood,310-652-9770,french (classic)
24,25,le chardonnay,8284 melrose ave.,los angeles,213/655-8880,french
25,26,le chardonnay (los angeles),8284 melrose ave.,los angeles,213-655-8880,french bistro
26,27,locanda veneta,3rd st.,los angeles,310/274-1893,italian
27,28,locanda veneta,8638 w. third st.,los angeles,310-274-1893,italian
28,29,matsuhisa,129 n. la cienega blvd.,beverly hills,310/659-9639,asian
29,30,matsuhisa,129 n. la cienega blvd.,beverly hills,310-659-9639,seafood
30,31,the palm,9001 santa monica blvd.,los angeles,310/550-8811,american
31,32,palm the (los angeles),9001 santa monica blvd.,w. hollywood,310-550-8811,steakhouses
32,33,patina,5955 melrose ave.,los angeles,213/467-1108,californian
33,34,patina,5955 melrose ave.,los angeles,213-467-1108,californian
34,35,philippe's the original,1001 n. alameda st.,los angeles,213/628-3781,american
35,36,philippe the original,1001 n. alameda st.,chinatown,213-628-3781,cafeterias
36,37,pinot bistro,12969 ventura blvd.,los angeles,818/990-0500,french
37,38,pinot bistro,12969 ventura blvd.,studio city,818-990-0500,french bistro
38,39,rex il ristorante,617 s. olive st.,los angeles,213/627-2300,italian
39,40,rex il ristorante,617 s. olive st.,los angeles,213-627-2300,nuova cucina italian
40,41,spago,1114 horn ave.,los angeles,310/652-4025,californian
41,42,spago (los angeles),8795 sunset blvd.,w. hollywood,310-652-4025,californian
42,43,valentino,3115 pico blvd.,santa monica,310/829-4313,italian
43,44,valentino,3115 pico blvd.,santa monica,310-829-4313,italian
44,45,yujean kang's gourmet chinese cuisine,67 n. raymond ave.,los angeles,818/585-0855,asian
45,46,yujean kang's,67 n. raymond ave.,pasadena,818-585-0855,chinese
46,47,21 club,21 w. 52nd st.,new york,212/582-7200,american
47,48,21 club,21 w. 52nd st.,new york city,212-582-7200,american (new)
48,49,aquavit,13 w. 54th st.,new york,212/307-7311,continental
49,50,aquavit,13 w. 54th st.,new york city,212-307-7311,scandinavian

In [61]:
callgoogle = False
if callgoogle:
    locdata = origdata.copy()
    uniqueList = locdata[["address", "city"]].apply(tuple, axis=1).unique()
    addDict = {}
    for add, city in uniqueList:
        string = add + ", " + city
        addDict[string] = gmaps.geocode(string)
        #addDict[string] = [{"wow": string}]

    def computeGeocode(s):
        string = s["address"] + ", " + s["city"]
        return json.dumps(addDict[string])
    
    locdata["google_geocode"] = locdata.apply(computeGeocode, axis=1)
    
    # There is one 'broken' entry, but according to the phone number it existed a while ago
    print("# Entry not found by Google:")
    print(locdata.loc[locdata["google_geocode"] == "[]"])

    # fix it by setting it manually
    locdata.loc[locdata["google_geocode"] == "[]", ["google_geocode"]] = json.dumps(gmaps.geocode("1022 3rd ave., new york"))

    # now it has a proper google_geocode
    print("# Entry now with proper google_geocode:")
    locdata[locdata["name"] == "bar anise"]
    
    locdata.to_csv(r'/data/restaurants_geocoded.csv', index=False)
else:
    locdata = pd.read_csv('/data/restaurants_geocoded.csv')

locdata.head(10)

,id,name,address,city,phone,type,google_geocode
0,1,arnie morton's of chicago,435 s. la cienega blv.,los angeles,310/246-1501,american,"[{""address_components"": [{""long_name"": ""435"", ..."
1,2,arnie morton's of chicago,435 s. la cienega blvd.,los angeles,310-246-1501,steakhouses,"[{""address_components"": [{""long_name"": ""435"", ..."
2,3,art's delicatessen,12224 ventura blvd.,studio city,818/762-1221,american,"[{""address_components"": [{""long_name"": ""12224""..."
3,4,art's deli,12224 ventura blvd.,studio city,818-762-1221,delis,"[{""address_components"": [{""long_name"": ""12224""..."
4,5,hotel bel-air,701 stone canyon rd.,bel air,310/472-1211,californian,"[{""address_components"": [{""long_name"": ""701"", ..."
5,6,bel-air hotel,701 stone canyon rd.,bel air,310-472-1211,californian,"[{""address_components"": [{""long_name"": ""701"", ..."
6,7,cafe bizou,14016 ventura blvd.,sherman oaks,818/788-3536,french,"[{""address_components"": [{""long_name"": ""14016""..."
7,8,cafe bizou,14016 ventura blvd.,sherman oaks,818-788-3536,french bistro,"[{""address_components"": [{""long_name"": ""14016""..."
8,9,campanile,624 s. la brea ave.,los angeles,213/938-1447,american,"[{""address_components"": [{""long_name"": ""624"", ..."
9,10,campanile,624 s. la brea ave.,los angeles,213-938-1447,californian,"[{""address_components"": [{""long_name"": ""624"", ..."

In [49]:
# Access the json like that
json.loads(locdata.iloc[0].google_geocode)[0]["geometry"]["location"]

{'lat': 34.0707083, 'lng': -118.3765626}

In [63]:
# extract some useful info from the json
def getloc(x, t):
    if x == "[]":
        return -1
    return json.loads(x)[0]["geometry"]["location"][t]

def getplaceid(x):
    if x == "[]" or len(x) == 0:
        return -1
    return json.loads(x)[0]["place_id"]
locdata["lat"] = locdata.google_geocode.map(lambda x: getloc(x, "lat"))
locdata["lng"] = locdata.google_geocode.map(lambda x: getloc(x, "lng"))
locdata["place_id"] = locdata.google_geocode.map(lambda x: getplaceid(x))

locdata.head()

,id,name,address,city,phone,type,google_geocode,lat,lng,place_id
0,1,arnie morton's of chicago,435 s. la cienega blv.,los angeles,310/246-1501,american,"[{""address_components"": [{""long_name"": ""435"", ...",34.070708,-118.376563,ChIJmeucHky5woARkgkme6muMc4
1,2,arnie morton's of chicago,435 s. la cienega blvd.,los angeles,310-246-1501,steakhouses,"[{""address_components"": [{""long_name"": ""435"", ...",34.070708,-118.376563,ChIJmeucHky5woARkgkme6muMc4
2,3,art's delicatessen,12224 ventura blvd.,studio city,818/762-1221,american,"[{""address_components"": [{""long_name"": ""12224""...",34.142963,-118.399465,ChIJ1ZjqZ_u9woARlHByVUYmzhE
3,4,art's deli,12224 ventura blvd.,studio city,818-762-1221,delis,"[{""address_components"": [{""long_name"": ""12224""...",34.142963,-118.399465,ChIJ1ZjqZ_u9woARlHByVUYmzhE
4,5,hotel bel-air,701 stone canyon rd.,bel air,310/472-1211,californian,"[{""address_components"": [{""long_name"": ""701"", ...",34.086594,-118.446351,ChIJQ3uF2fC8woARGoFxVQxTDU0

In [64]:
# no missing values
locdata[locdata["place_id"] == -1]

Empty DataFrame
Columns: [id, name, address, city, phone, type, google_geocode, lat, lng, place_id]
Index: []

In [68]:
locdata[locdata.duplicated(['place_id'], keep=False)]

,id,name,address,city,phone,type,google_geocode,lat,lng,place_id
0,1,arnie morton's of chicago,435 s. la cienega blv.,los angeles,310/246-1501,american,"[{""address_components"": [{""long_name"": ""435"", ...",34.070708,-118.376563,ChIJmeucHky5woARkgkme6muMc4
1,2,arnie morton's of chicago,435 s. la cienega blvd.,los angeles,310-246-1501,steakhouses,"[{""address_components"": [{""long_name"": ""435"", ...",34.070708,-118.376563,ChIJmeucHky5woARkgkme6muMc4
2,3,art's delicatessen,12224 ventura blvd.,studio city,818/762-1221,american,"[{""address_components"": [{""long_name"": ""12224""...",34.142963,-118.399465,ChIJ1ZjqZ_u9woARlHByVUYmzhE
3,4,art's deli,12224 ventura blvd.,studio city,818-762-1221,delis,"[{""address_components"": [{""long_name"": ""12224""...",34.142963,-118.399465,ChIJ1ZjqZ_u9woARlHByVUYmzhE
4,5,hotel bel-air,701 stone canyon rd.,bel air,310/472-1211,californian,"[{""address_components"": [{""long_name"": ""701"", ...",34.086594,-118.446351,ChIJQ3uF2fC8woARGoFxVQxTDU0
...,...,...,...,...,...,...,...,...,...,...
784,785,sterling brunch,3645 las vegas blvd. s.,las vegas,702-739-4651,eclectic,"[{""address_components"": [{""long_name"": ""3645"",...",36.114222,-115.170851,ChIJWfFa-znEyIARaoIB0z-5WkQ
785,786,tre visi,3799 las vegas blvd. s.,las vegas,702-891-7331,italian,"[{""address_components"": [{""long_name"": ""3799"",...",36.102251,-115.169968,ChIJhQmCk8zFyIARp4WO93FPFBE
811,812,kalo's coffee house,1248 clairmont rd.,decatur,404-325-3733,coffeehouses,"[{""address_components"": [{""long_name"": ""1248"",...",33.789738,-84.307728,ChIJD1koZgMH9YgR9i3SPSFnOpw
816,817,my thai,1248 clairmont rd.,atlanta,404-636-4280,thai,"[{""address_components"": [{""long_name"": ""1248"",...",33.789738,-84.307728,ChIJD1koZgMH9YgR9i3SPSFnOpw
822,823,ritz-carlton cafe (atlanta),181 peachtree st.,atlanta,404-659-0400,american (new),"[{""address_components"": [{""long_name"": ""181"", ...",33.758572,-84.387181,ChIJf0iRDXgE9YgRybLbFDHL01Y

In [78]:
groupdata = locdata.groupby("place_id")["name"].apply(list).reset_index()
groupdata[groupdata["name"].map(len) > 1]

,place_id,name
11,ChIJ057eFvtYwokRGLx7rUX__mQ,"[oceana, oceana]"
21,ChIJ0ySEBjpawokR6ru-Veqmdgk,"[river cafe, river cafe]"
31,ChIJ1ZjqZ_u9woARlHByVUYmzhE,"[art's delicatessen, art's deli]"
36,ChIJ28aPng-HhYARKcytl4FeCeo,"[khan toke thai house, khan toke thai house]"
54,ChIJ3_WOrDG5woARD81pY6ubr50,"[gumbo pot the, kokomo cafe]"
...,...,...
637,ChIJvXl2weCAhYARjSxnhzrBfNc,"[gaylord's, mccormick & kuleto's]"
649,ChIJw7_Ic_GAhYAROauy3lo75V0,"[rose pistola, rose pistola]"
652,ChIJwwhRReiAhYARifYGNu8Be2s,"[la folie, la folie]"
684,ChIJzWi3-dOkwoAR9zqez3M--Xs,"[locanda veneta, cava, sofi]"
742,EjMxMjMyIFdlc3QgUGFjZXMgRmVycnkgUmQgTlcsIEF0bG...,"[pano's and paul's, pano's & paul's]"

In [117]:
cleandata = locdata.copy()
cleandata = cleandata.drop(labels=['id'], axis=1)
cleandata = cleandata.drop(labels=['google_geocode'], axis=1)
cleandata.name = cleandata.name.str.replace('[^a-zA-Z0-9 ]', '', case=False)
cleandata.name = cleandata.name.str.replace('  the$', '', case=False)
cleandata.address = cleandata.address.str.replace('[^a-zA-Z0-9 ]', '', case=False)
cleandata.phone = cleandata.phone.str.replace('[^a-zA-Z0-9]', '', case=False)
cleandata.city = cleandata.city.str.replace('new york city', 'new york', case=False)
cleandata.type = cleandata.type.str.replace(' \(new\)', '', case=False)
#cleandata.city = cleandata.city.str.replace('studio city', 'los angeles', case=False)

cleandata = cleandata.drop_duplicates(["name", "place_id"])
#cleandata = cleandata.groupby(["name", "place_id", "lat", "lng"]).agg(set)
cleandata

,name,address,city,phone,type,lat,lng,place_id
0,arnie mortons of chicago,435 s la cienega blv,los angeles,3102461501,american,34.070708,-118.376563,ChIJmeucHky5woARkgkme6muMc4
2,arts delicatessen,12224 ventura blvd,studio city,8187621221,american,34.142963,-118.399465,ChIJ1ZjqZ_u9woARlHByVUYmzhE
3,arts deli,12224 ventura blvd,studio city,8187621221,delis,34.142963,-118.399465,ChIJ1ZjqZ_u9woARlHByVUYmzhE
4,hotel belair,701 stone canyon rd,bel air,3104721211,californian,34.086594,-118.446351,ChIJQ3uF2fC8woARGoFxVQxTDU0
5,belair hotel,701 stone canyon rd,bel air,3104721211,californian,34.086594,-118.446351,ChIJQ3uF2fC8woARGoFxVQxTDU0
...,...,...,...,...,...,...,...,...
859,ti couz,3108 16th st,san francisco,4152527373,french,37.765083,-122.422326,ChIJv9syQSJ-j4ARi2Z8ijbCi3A
860,trio cafe,1870 fillmore st,san francisco,4155632248,american,37.786754,-122.433305,ChIJ83XGebiAhYAR3L697cTmrpg
861,tu lan,8 sixth st,san francisco,4156260927,vietnamese,37.781876,-122.410130,ChIJNx26_oSAhYARrQpqigmRF2w
862,vicolo pizzeria,201 ivy st,san francisco,4158632382,pizza,37.777565,-122.421455,EigyMDEgSXZ5IFN0LCBTYW4gRnJhbmNpc2NvLCBDQSA5ND...
863,wahaka oaxaca mexican grill,2141 polk st,san francisco,4157751055,mexican,37.796575,-122.422194,ChIJfdLzu-mAhYARCoqu_WO80eA

In [118]:
namesetdata = cleandata[["name", "place_id"]].groupby(["place_id"]).agg(set)
namesetdata

                                                                                 name
place_id
ChIJ--WPt3bDwoAR4TUf043301Q                                         {clearwater cafe}
ChIJ-2m-V5pZwokRceRHz-azxqA                                                    {ludo}
ChIJ-6z_E-uXwoARxgPXQ5kHgwQ                                         {rubins red hots}
ChIJ-SuNZoNZwokRnlU0SXCOIiw                                           {internet cafe}
ChIJ-U9fXnAz3YARAN237AmUmFM                         {johnny rebs southern smokehouse}
...                                                                               ...
EjMxMjMyIFdlc3QgUGFjZXMgRmVycnkgUmQgTlcsIEF0bGF...    {panos  pauls, panos and pauls}
EjQxNzE2IFBhY2lmaWMgQ29hc3QgSHd5LCBSZWRvbmRvIEJ...                     {chez melange}
EjYxNDMzIDNyZCBTdHJlZXQgUHJvbWVuYWRlLCBTYW50YSB...                   {benitas frites}
EjZDZW50cmFsIFBhcmsgV2VzdCAmIFcgNjd0aCBTdCwgTmV...              {tavern on the green}
EjtNYXJrZXQgU3QgJiBOZXcgTW9udGdvbWVyeSBTdCwgU2F...                     {garden court}

[747 rows x 1 columns]

In [150]:
from itertools import combinations

alldists = []
for someset in namesetdata.name:
    if len(someset) <= 1:
        continue
    dists = []
#    for p1 in someset:
#        for p2 in someset:
#            if p1 == p2:
#                break
#            else:
#                dists.append((p1, p2, td.jaccard(p1, p2)))
    dists = [(p1, p2, p1 == p2 and -1 or td.jaccard(p1, p2)) for p1 in someset for p2 in someset]
#    for comb in combinations(someset, 2):
#        dists.append((comb[0], comb[1], td.jaccard(comb[0], comb[1])))
    alldists += dists

alldists.sort(key=lambda x: x[2])
filtered = list(filter(lambda x: x[2] > 0.5, allhamdists))
# treat the filtered as equal...
uniquemappings = dict(map(lambda x: set(x[0:2]), filtered))
uniquemappings

{'le chardonnay los angeles': 'le chardonnay',
 'four seasons': 'four seasons grill room',
 'coyote cafe': 'coyote cafe las vegas',
 'arts delicatessen': 'arts deli',
 'park avenue cafe new york city': 'park avenue cafe',
 'ritzcarlton cafe buckhead': 'cafe  ritzcarlton  buckhead',
 'ritzcarlton dining room buckhead': 'cafe  ritzcarlton  buckhead',
 'dining room  ritzcarlton  buckhead': 'ritzcarlton dining room buckhead',
 'ritzcarlton restaurant': 'restaurant  ritzcarlton  atlanta',
 'ritzcarlton cafe atlanta': 'restaurant  ritzcarlton  atlanta',
 'le montrachet': 'le montrachet bistro',
 'ritzcarlton dining room san francisco': 'ritzcarlton restaurant and dining room',
 'panos  pauls': 'panos and pauls',
 'second street grille': 'second street grill',
 'second street grill': 'second street grille',
 'philippe the original': 'philippes the original',
 'hotel belair': 'belair hotel'}

In [158]:
cleandata.name = cleandata.name.apply(lambda x: uniquemappings.get(x, x))
cleandata

,name,address,city,phone,type,lat,lng,place_id
0,arnie mortons of chicago,435 s la cienega blv,los angeles,3102461501,american,34.070708,-118.376563,ChIJmeucHky5woARkgkme6muMc4
2,arts deli,12224 ventura blvd,studio city,8187621221,american,34.142963,-118.399465,ChIJ1ZjqZ_u9woARlHByVUYmzhE
3,arts deli,12224 ventura blvd,studio city,8187621221,delis,34.142963,-118.399465,ChIJ1ZjqZ_u9woARlHByVUYmzhE
4,belair hotel,701 stone canyon rd,bel air,3104721211,californian,34.086594,-118.446351,ChIJQ3uF2fC8woARGoFxVQxTDU0
5,belair hotel,701 stone canyon rd,bel air,3104721211,californian,34.086594,-118.446351,ChIJQ3uF2fC8woARGoFxVQxTDU0
...,...,...,...,...,...,...,...,...
859,ti couz,3108 16th st,san francisco,4152527373,french,37.765083,-122.422326,ChIJv9syQSJ-j4ARi2Z8ijbCi3A
860,trio cafe,1870 fillmore st,san francisco,4155632248,american,37.786754,-122.433305,ChIJ83XGebiAhYAR3L697cTmrpg
861,tu lan,8 sixth st,san francisco,4156260927,vietnamese,37.781876,-122.410130,ChIJNx26_oSAhYARrQpqigmRF2w
862,vicolo pizzeria,201 ivy st,san francisco,4158632382,pizza,37.777565,-122.421455,EigyMDEgSXZ5IFN0LCBTYW4gRnJhbmNpc2NvLCBDQSA5ND...
863,wahaka oaxaca mexican grill,2141 polk st,san francisco,4157751055,mexican,37.796575,-122.422194,ChIJfdLzu-mAhYARCoqu_WO80eA

In [159]:
cleandata = cleandata.drop_duplicates(["name", "place_id"])
cleandata

,name,address,city,phone,type,lat,lng,place_id
0,arnie mortons of chicago,435 s la cienega blv,los angeles,3102461501,american,34.070708,-118.376563,ChIJmeucHky5woARkgkme6muMc4
2,arts deli,12224 ventura blvd,studio city,8187621221,american,34.142963,-118.399465,ChIJ1ZjqZ_u9woARlHByVUYmzhE
4,belair hotel,701 stone canyon rd,bel air,3104721211,californian,34.086594,-118.446351,ChIJQ3uF2fC8woARGoFxVQxTDU0
6,cafe bizou,14016 ventura blvd,sherman oaks,8187883536,french,34.148907,-118.437916,ChIJT3F96SyWwoARj-l0kScDbB0
8,campanile,624 s la brea ave,los angeles,2139381447,american,34.064142,-118.343707,ChIJ6YcRzt-4woAR2iz5ZcEnvBk
...,...,...,...,...,...,...,...,...
859,ti couz,3108 16th st,san francisco,4152527373,french,37.765083,-122.422326,ChIJv9syQSJ-j4ARi2Z8ijbCi3A
860,trio cafe,1870 fillmore st,san francisco,4155632248,american,37.786754,-122.433305,ChIJ83XGebiAhYAR3L697cTmrpg
861,tu lan,8 sixth st,san francisco,4156260927,vietnamese,37.781876,-122.410130,ChIJNx26_oSAhYARrQpqigmRF2w
862,vicolo pizzeria,201 ivy st,san francisco,4158632382,pizza,37.777565,-122.421455,EigyMDEgSXZ5IFN0LCBTYW4gRnJhbmNpc2NvLCBDQSA5ND...
863,wahaka oaxaca mexican grill,2141 polk st,san francisco,4157751055,mexican,37.796575,-122.422194,ChIJfdLzu-mAhYARCoqu_WO80eA