# Helpful Links
* https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

In [1]:
%load ../src/clean.py
from src.clean import *

In [2]:
dupesets, dupeids = loadGoldStandard()

In [58]:
df = pd.read_csv(PATH_PREFIX + '/restaurants.tsv', delimiter='\t')
cleaned = clean(df, 0.7, 0.65)
a, b, c = compareToGold(cleaned, dupesets)
missingIds = [y for x in b for y in x]
falseIds = [y for x in c for y in x]

True positives: 106
False negatives: 6
False positives: 0
Precision: 1.0
Recall: 0.9464285714285714
Fscore: 0.9724770642201834

In [61]:
cc = cleaned.copy()
cc.city = cc.city.map(lambda x: next(iter(x)))
cc = cc.groupby(["city", "tdkey"]).agg(list).reset_index()
cc

,city,tdkey,phone,id,name,address,type,cname,caddress
0,atlos angelesnta,103 west,[4042335993],[{787}],[{103 west}],[{103 w. paces ferry rd.}],[{continental}],[{103 west}],[{103 w paces ferry rd}]
1,atlos angelesnta,abbey,[4048768532],[{492}],[{abbey}],[{163 ponce de leon ave.}],[{international}],[{abbey}],[{163 ponce de leon ave}]
2,atlos angelesnta,abruzzi,[4042618186],"[{149, 150}]",[{abruzzi}],"[{2355 peachtree rd. ne, 2355 peachtree rd. p...",[{italian}],[{abruzzi}],"[{2355 peachtree rd ne, 2355 peachtree rd pea..."
3,atlos angelesnta,adrianos ristorante,"[4042372663, 4042372700, 4042377601, 404261701...","[{153, 154}, {181, 182}, {831}, {793}, {496}, ...","[{bone's restaurant, bone's}, {dining room ri...","[{3130 piedmont road, 3130 piedmont rd. ne}, {...","[{american, steakhouses}, {american, internati...","[{bones, bones restaurant}, {dining room ritz...","[{3130 piedmont rd ne, 3130 piedmont road}, {3..."
4,atlos angelesnta,alecks barbecue heaven,[4045252062],[{493}],[{aleck's barbecue heaven}],[{783 martin luther king jr. dr.}],[{barbecue}],[{alecks barbecue heaven}],[{783 martin luther king jr dr}]
...,...,...,...,...,...,...,...,...,...
588,west hollywood,dukes,[3106523100],[{663}],[{duke's}],[{8909 sunset blvd.}],[{coffee shops}],[{dukes}],[{8909 sunset blvd}]
589,westlos angeleske villos angelesge,aja,[8054984049],[{648}],[{baja fresh}],[{3345 kimber dr.}],[{mexican}],[{baja fresh}],[{3345 kimber dr}]
590,westlos angeleske villos angelesge,local nochol,[8187067706],[{684}],[{local nochol}],[{30869 thousand oaks blvd.}],[{health food}],[{local nochol}],[{30869 thousand oaks blvd}]
591,westwood,antonios,[3102091422],[{662}],[{don antonio's}],[{1136 westwood blvd.}],[{italian}],[{don antonios}],[{1136 westwood blvd}]
592,westwood,falafel king,[3102084444],[{664}],[{falafel king}],[{1059 broxton ave.}],[{middle eastern}],[{falafel king}],[{1059 broxton ave}]

In [28]:
print(missingIds)
print(falseIds)

[121, 122, 129, 130, 139, 140, 141, 142, 144, 143, 179, 180]
[]

In [26]:
#df[df.id.isin(missingIds)]
df[df.id.isin(missingIds)]

,id,name,address,city,phone,type,cname,caddress,tdkey
120,121,shun lee west,43 w. 65th st.,new york,2123718844,asian,shun lee west,43 w 65th st,103 west
121,122,shun lee palace,155 e. 55th st.,new york,2123718844,chinese,shun lee palace,155 e 55th st,shun lee palace
128,129,uncle nick's,747 9th ave.,new york,2123151726,mediterranean,uncle nicks,747 9th ave,uncle nicks
129,130,uncle nick's,747 ninth ave.,new york,2122457992,greek,uncle nicks,747 ninth ave,uncle nicks
138,139,le montrachet,3000 w. paradise rd.,los angeless vegas,7027325111,continental,le montrachet,3000 w paradise rd,alons at the terrace
139,140,le montrachet bistro,3000 paradise rd.,los angeless vegas,7027325651,french bistro,le montrachet bistro,3000 paradise rd,alons at the terrace
140,141,palace court,3570 las vegas blvd. s,los angeless vegas,7027317547,continental,palace court,3570 las vegas blvd s,campton place
141,142,palace court,3570 las vegas blvd. s,los angeless vegas,7027317110,french,palace court,3570 las vegas blvd s,campton place
142,143,second street grille,200 e. fremont st.,los angeless vegas,7023853232,seafood,second street grille,200 e fremont st,ambassador grill
143,144,second street grill,200 e. fremont st.,los angeless vegas,7023856277,pacific rim,second street grill,200 e fremont st,ambassador grill
178,179,cafe ritz-carlton buckhead,3434 peachtree rd.,atlos angelesnta,4042372700,international,cafe ritzcarlton buckhead,3434 peachtree rd,cafe ritzcarlton buckhead
179,180,ritz-carlton cafe,3434 peachtree rd. ne,atlos angelesnta,4042372700,american,ritzcarlton cafe,3434 peachtree rd ne,ritzcarlton cafe

In [57]:
cleaned

,phone,tdkey,id,name,address,city,type,cname,caddress
0,1008138212,indian delights,{809},{indian delights},{3675 satellite blvd.},{},{indian},{indian delights},{3675 satellite blvd}
1,2122060059,big cup,{301},{big cup},{228 8th ave. },{},{coffee bar},{big cup},{228 8th ave }
2,2122132288,marnies noodle shop,{751},{sam's noodle shop},{411 third ave.},{},{chinese},{sams noodle shop},{411 third ave}
3,2122190500,bouterin,{743},{nobu},{105 hudson st.},{},{japanese},{nobu},{105 hudson st}
4,2122192777,alons at the terrace,"{99, 100}",{montrachet},"{239 w. broadway, 239 w. broadway }",{},"{french bistro, french}",{montrachet},"{239 w broadway, 239 w broadway }"
...,...,...,...,...,...,...,...,...,...
753,8188865679,ambassador grill,{653},{brent's deli},{19565 parthenia ave.},{},{delis},{brents deli},{19565 parthenia ave}
754,8189056515,alons at the terrace,{702},{rubin's red hots},{15322 ventura blvd.},{},{hot dogs},{rubins red hots},{15322 ventura blvd}
755,8189068881,mulberry st,{692},{mulberry st.},{17040 ventura blvd.},{},{pizza},{mulberry st},{17040 ventura blvd}
756,8189854669,cadel sol,{232},{ca'del sol},{4100 cahuenga blvd.},{},{italian},{cadel sol},{4100 cahuenga blvd}
757,8189900500,alons at the terrace,"{37, 38}",{pinot bistro},{12969 ventura blvd.},{studio city},"{french bistro, french}",{pinot bistro},{12969 ventura blvd}