Load e-commerce dataset and print head to verify that it's loaded correctly

In [ ]:
import pandas as pd
data = pd.read_csv('../../data/ecommerce_data.csv')
data.head()

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2

Select elements by index

In [2]:
data.iloc[3]

is_mobile               1.000000
n_products_viewed       1.000000
visit_duration          1.659793
is_returning_visitor    1.000000
time_of_day             1.000000
user_action             2.000000
Name: 3, dtype: float64

In [3]:
data.iloc[[0,3,5]]

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
3,1,1,1.659793,1,1,2
5,1,1,0.512447,1,1,2

By giving a range in .iloc the first element is included and the last element is excluded

In [4]:
data.iloc[1:5]

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2

You can also select single cells by giving a row and column value. <br>
Here it's the value of column 5 and row 3

In [5]:
data.iloc[3, 5]

2

With .loc we can select rows:
- by label/index
- with a boolean / conditional lookup

In [6]:
data.loc[3, 'is_mobile']

1

Conditional .loc looks like

In [ ]:
data.loc[[], ['eventtime', 'eventtimeinstant']].head()

    n_products_viewed  user_action
10                  4            3
44                  4            3
50                  4            2
51                  4            3
55                  4            1

Get the column names of a dataset

In [8]:
data.columns

Index(['is_mobile', 'n_products_viewed', 'visit_duration',
       'is_returning_visitor', 'time_of_day', 'user_action'],
      dtype='object')

Accessing single or specific columns of a dataset is done like that:

In [9]:
data[[is_mobile', 'user_action']'is_m].head()

SyntaxError: invalid syntax (<ipython-input-9-764cb09d26aa>, line 1)

Print description of dataset which contains the count of rows in each column as well as the mean, standard deviation and important quartiles. <br> 
Calculation for quartiles and theire meaning: <br>
mean (=Mittelwert != Median): Sum of all value / count of values <br>
The standard deviation marks the average distance of the values from the mean <br>
For calculation of quantiles the values in a column are ordered <br>
even count of rows: <br>
* 0.25 quantile: data \[round(rowCount*0.25)\]
* 0.5 quantile (= median != Mittelwert): 0.5 * (data\[rowCount / 2\] + data\[rowCount / 2 + 1\])
* 0.75 quantile: data\[round(rowCount*0.75)\] <br>
odd count of rows:
* 0.25 quantile: data\[round(rowCount*0.25)\]
* 0.5 quantile:  data\[round(rowCount*0.5)\]
* 0.75 quantile: data\[round(rowCount*0.75)\]

In [4]:
data.describe()

       n_products_viewed  visit_duration  is_returning_visitor
count         500.000000      500.000000            500.000000
mean            0.854000        1.055880              0.518000
std             1.046362        0.976711              0.500176
min             0.000000        0.000141              0.000000
25%             0.000000        0.328550              0.000000
50%             1.000000        0.804717              1.000000
75%             1.000000        1.499518              1.000000
max             4.000000        6.368775              1.000000

data.info() shows us general information about our dataset and its columns like the number of entries, the count of non null rows and the data type of each column

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
is_mobile               500 non-null object
n_products_viewed       500 non-null int64
visit_duration          500 non-null float64
is_returning_visitor    500 non-null int64
time_of_day             500 non-null object
user_action             500 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 23.5+ KB

We can get unique values of a column with .unique()

In [10]:
data.time_of_day.unique()

array([3, 2, 1, 0])

Because our dataset has some categorized variables as numbers, we map the integers to strings<br>
To archieve this we create two dictionaries which contain the values to map<br>
After applying our dictionaries we print the head() of our dataset to confirm that it worked out

In [3]:
dictTime = {0: '0to6', 1: '6to12', 2: '12to18', 3: '18to24'}
dictAction = {0: 'bounce', 1: 'add_to_cart ', 2: 'begin_checkout', 3: 'finish_checkout'}
dictMobile = {0: 'false', 1: 'true '}
data.time_of_day = data.time_of_day.map(dictTime)
data.user_action = data.user_action.map(dictAction)
data.is_mobile = data.is_mobile.map(dictMobile)
data.head()

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,true,0,0.657510,0,18to24,bounce
1,true,1,0.568571,0,12to18,add_to_cart
2,true,0,0.042246,1,6to12,bounce
3,true,1,1.659793,1,6to12,begin_checkout
4,false,1,2.014745,1,6to12,begin_checkout

Now we want to get the count of user_actions at each daytime period
For this we use the groupby function of pandas

In [12]:
data2 = data[['time_of_day', 'user_action']].copy()
data2['count'] = 1
data2[['time_of_day','count']].groupby(['time_of_day']).count()

             count
time_of_day
0to6           113
12to18         127
18to24         140
6to12          120

Now we want to analyze which action users are supposed to do on which daytime <br>

In [ ]:
data2.groupby(['time_of_day', 'user_action']).count()

                             count
time_of_day user_action
0to6        add_to_cart         29
            begin_checkout      21
            bounce              53
            finish_checkout     10
12to18      add_to_cart         44
            begin_checkout      13
            bounce              62
            finish_checkout      8
18to24      add_to_cart         52
            begin_checkout      15
            bounce              72
            finish_checkout      1
6to12       add_to_cart         20
            begin_checkout      28
            bounce              66
            finish_checkout      6

Now we analyze the actions of our mobile users

In [14]:
data2 = data[['is_mobile', 'user_action']].copy()
data2['count'] = 1
data2[['is_mobile', 'count']].groupby(['is_mobile']).count()

           count
is_mobile
false        257
true         243

In [15]:
data.groupby(['is_mobile', 'user_action']).count()

                           count
is_mobile user_action
false     add_to_cart         87
          begin_checkout      20
          bounce             144
          finish_checkout      6
true      add_to_cart         58
          begin_checkout      57
          bounce             109
          finish_checkout     19

We can also apply lambda functions (or normal functions) to our dataset

In [1]:
def double_values(x):
    return x*2
data.apply(double_values).head()

NameError: name 'data' is not defined

We can apply lambda functions to single columns as well
Here we calculate the visit duration in hours

In [ ]:
data3 = data.copy()
data3['visit_duration'] = data3['visit_duration'].apply(lambda x: x/60)
data3.head()

Pandas also supports sorting of dataframes by single or multiple columns
For optimization reasons we can also select the sorting function with kind : {‘quicksort’, ‘mergesort’, ‘heapsort’}

In [ ]:
data3.sort_values(by=['visit_duration'], ascending=False).head()